:root{
    --thin: 100;
    --regular: 400;
    --medium: 500;
    --semi-bold:600;
    --bold: 700;
    --black: 900;
    
    --WHITE: #FFFFFF;
    --OFFWHITE: #FDFDFD;
    --SHADOW-COLOR: rgba(0, 0, 0, 0.153);
    --ACCENT:#8a3bf5;
}

html{
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 60px;
    background-color: var(--OFFWHITE);
}

.top-nav-container{
    position: sticky;
    top: 0;
    left: 0;
    height: clamp(64px, 4vh, 90px);
    font-size: 32pt;
    background-color: var(--WHITE);
    padding-top: 16px;
    padding-bottom: 8px;
    padding-right: 32px;
    padding-left: 32px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -15px 35px 0px black;
}

.bottom-nav-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: clamp(72px, 6vh, 8vh);
    padding: 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--WHITE);
    box-shadow: 0 0 3em 1em black;
    z-index: 20;
}

.bottom-nav-container i{
    font-size: clamp(1em, 2.5em, 3em);
}

.bottom-nav-container label{
    font-size: clamp(1.5vh, 2em, 1.5em);
}

.bottom-nav-item{
    background-color: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    height:100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:var(--black);
}

.bottom-nav-item:active{
    color:var(--ACCENT);
}

.bottom-nav-item .fa{
    color:inherit;
}

#home-selector{
    font-family: Roboto;
    font-weight: var(--semi-bold);
    background: none;
    outline:none;
    border: none;
    font-size: inherit;
}

a .fa{
    color: black;
}

.container-custom{
    background-color: var(--WHITE);
    border-radius: 100px;
    box-shadow: 0 0 3px 1px var(--SHADOW-COLOR);
}

#task-container{
    font-weight: var(--medium);
}

.circular-button {
    width: 3rem; /* Adjust as needed */
    height: 3rem; /* Adjust as needed */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem; /* Adjust icon size */
}