:root{
    --thin: 100;
    --regular: 400;
    --medium: 500;
    --semi-bold:600;
    --bold: 700;
    --black: 900;
    
    --WHITE: #FFFFFF;
    --OFFWHITE: #FDFDFD;
    --SHADOW-COLOR: rgba(0, 0, 0, 0.153);
    --ACCENT:#8a3bf5;
}

.sidebar-button{
    border:none;
    background:none;
    padding:0;
}

#sidebar{
    max-width: min(300px, 75vw);
}

html{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height:100%;
}

body {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 72px;
    background-color: var(--OFFWHITE);
    overflow-y: auto;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.bottom-nav-container i{
    font-size: clamp(1em, 2.5em, 3em);
}

.bottom-nav-container label{
    font-size: clamp(1.5vh, 2em, 1.5em);
}

.bottom-nav-item{
    background-color: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    height:100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:var(--nav-color-idle);
}

.bottom-nav-item:active{
    color:var(--ACCENT);
}

.bottom-nav-item .fa{
    color:inherit;
}

#home-selector{
    font-family: Roboto;
    font-weight: var(--semi-bold);
    background: none;
    outline:none;
    border: none;
    font-size: inherit;
}

a .fa{
    color: black;
}

.container-custom{
    border-radius: 38px;
    width:96%;
    margin-top:8px;
}

#task-container{
    font-weight: var(--medium);
}

#device-container{
    font-weight: var(--medium);
}

.circular-button {
    width: 3rem; /* Adjust as needed */
    height: 3rem; /* Adjust as needed */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem; /* Adjust icon size */
}

.centerWindow{
    background: rgba(0,0,0,0.59);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--WHITE);
    height: 55vh;
    width: min(500px, 80vw);
    padding: 16px;
    border-radius: 16px;
    position: relative;
}

.task-popup-properties{
    overflow-y: auto;
    flex-grow: 1;
}

#side-bar{
    z-index:500;
    background-color: red;
}

.popup-content-header{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 12px;
}

.popup-content-header .exit-icon {
    text-align: center;
    background: none;
    padding: 3px 5px;
    border: none;
    font-size: large;
}

.task-popup {
    font-size: large;
}

.task-popup select {
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    background: none;
}

.task-popup .row {
    margin: auto;
    width: 100%;
    margin-top:8px;
    padding:5px;
}

.task-popup .col-6{
}

.task-popup input{
    width: 100%;
}

.form-check-input:focus {
  box-shadow: none !important;
  outline: none !important;
}

#task-list{
    list-style: none;
    font-weight: 400;
    font-size: medium;
}